{% extends "base.html" %}
{% load gravatar %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="{% gravatar_url post.author.email %}"
                     style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
            </a>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    {% if post.image %}
                        <img src="{{ MEDIA_URL }}{{ post.image }}">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <button class="btn btn-default" onclick="location.href='{% url 'post_list' %}'">Back To Blog</button>
                    <button class="btn btn-default" onclick="location.href='{% url 'edit_post' post.id %}'">Edit</button>
                    <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} |
                        <strong>Tag</strong> {{ post.tag }}</p>
                </div>
            </div>
            {% load disqus_tags %}
            {% set_disqus_title post.title %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}